
*.asv

*.m~

*.mex*

**/slprj/


.autosave

*.slxc
*.slx.original
*.autosave
*.sh

*.ini

*.odt
*.ods
*.doc
**/sprj/

**/*.png
**/*.mat
/data/**
/simulation_folder/**
/text_files/**
/dme_unz/**
/unz/RL_env_unz/**
/with_RLscript/**
/get_mod_time.bat
/temp_figures/**

!data\agentNetworks\**

/references_comments/exportWrap3D_old.m
/references_comments/model_errror_analysis.m
/references_comments/model_init_euler.m
/references_comments/result_parameter_calc.m
/references_comments/sample_test.m
/references_comments/analysis.mlx
/references_comments/analysis_m.m
/references_comments/dynamic_model_euler_as_received.slx
/references_comments/dynamic_model_euler_as_received_orginal.slx
2D_model
dme_unz
/win_sim_wrap.bat
