
*.asv

*.m~

*.mex*

**/slprj/


.autosave

*.slxc
*.slx.original
*.autosave
*.sh

*.ini

*.odt
*.ods
*.doc
**/sprj/

**/*.png
**/*.mat
/data/**
/simulation_folder/**
/text_files/**
/dme_unz/**
/unz/RL_env_unz/**
/with_RLscript/**
/get_mod_time.bat
/temp_figures/**

!data\agentNetworks\**

/references_comments/exportWrap3D_old.m
/references_comments/model_errror_analysis.m
/references_comments/model_init_euler.m
/references_comments/result_parameter_calc.m
/references_comments/sample_test.m
/references_comments/analysis.mlx
/references_comments/analysis_m.m
/references_comments/dynamic_model_euler_as_received.slx
/references_comments/dynamic_model_euler_as_received_orginal.slx
2D_model
dme_unz
/win_sim_wrap.bat
text_files
/3D_model/dynamic_model_euler_with_model_base.slx
/3D_model/dynamic_model_euler_with_s.slx
/3D_model/enforce_constraint.slx
/3D_model/Model Properties.xlsx
/3D_model/s_function_model.slx
/3D_model/dme_wrap.slx
/3D_model/dynamic_model_euler_copy_to_compare.slx
/references_comments/medium-articles-master/reinforcement-learning/openai-gym-matlab/RLWithOpenAI.m
/references_comments/medium-articles-master/reinforcement-learning/openai-gym-matlab/RLBuiltInExample.m
monte-carlo-control-1
